footer{
    color : white;
    text-align: center;
}

.firstfooter{
    display: flex;
    justify-content: space-around;
}

ul{
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    text-align: center;
    list-style-type: none;
}
h4{
    text-align: center;
}

i{
    font-size: 200%;
}